/* Import Baloo-2 font===============================================*/
@font-face {
    font-family: Baloo2-Regular;
    src: url('../assets/fonts/baloo-2/Baloo2-Regular.ttf') format("truetype");
}

@font-face {
    font-family: Baloo2-SemiBold;
    src: url('../assets/fonts/baloo-2/Baloo2-SemiBold.ttf') format("truetype");
}

@font-face {
    font-family: Baloo2-Bold;
    src: url('../assets/fonts/baloo-2/Baloo2-Bold.ttf') format("truetype");
}

@font-face {
    font-family: Baloo2-ExtraBold;
    src: url('../assets/fonts/baloo-2/Baloo2-ExtraBold.ttf') format("truetype");
}



/* Import Montserrat font============================================== */

@font-face {
    font-family: Montserrat-Regular;
    src: url('../assets/fonts/montserrat/Montserrat-Regular.otf') format("truetype");
}

@font-face {
    font-family: Montserrat-ExtraLight;
    src: url('../assets/fonts/montserrat/Montserrat-ExtraLight.otf') format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: Montserrat-Light;
    src: url('../assets/fonts/montserrat/Montserrat-Light.otf') format("truetype");
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url('../assets/fonts/montserrat/Montserrat-SemiBold.otf') format("truetype");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url('../assets/fonts/montserrat/Montserrat-Bold.otf') format("truetype");
}


